<!DOCTYPE HTML>
<html lang="en" id="suggestion-page">
<head>
  <title>Snafoo!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <% javascript_include_tag "suggestion" %>
  
  <ul>
    <li><a href="voting">Voting</a></li>
    <li><a href="suggestions">Suggestions</a></li>
  </ul>
  
  <% if @optional_snacks == false %>
    <%= flash[:error] %>
  <% else %>
      <select class="browser-default" id="dropdown" onchange="dropUpdate();">
        <option value="" disabled selected>Choose your snack</option>
        <% @optional_snacks.each do |snack| %>
          <option value="snack" name='<%= snack[:name] %>' date='<%= snack[:lastPurchaseDate] %>'><%= snack[:name] %></option>
        <% end %>
        <option value="custom">Custom</option>
      </select>
  <% end %>
  
  <br>
  <button id="suggest">Suggest</button>
  
  <form id="customForm">
    <label for="Snack">
      <span>Snack</span>
      <input type="text" id="name" />
    </label>
    <label for="location">
      <span>Store</span>
      <input type="text" id="location" />
    </label>
  </form>
  
  <br>
  <button id="suggestCustom">Suggest</button>

</body>
</html>
